body::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(185, 185, 185);
}
.title{
    color: black;
    text-decoration: none;
}